<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/favicon.png">

    <title>{{ site.title }} - {% if page.long_title %}{{ page.long_title }}{% else %} A podcast by the team at Steer {% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@teamsteer">
    <meta name="twitter:title" content="Listen to {% if page.title %}Episode: {{ page.title }} of the {% endif %}  Steercast now!">
    <meta name="twitter:description" content="Visit Steercast to listen &amp; subscribe to the podcast">
    <meta name="twitter:url" content="{% if page.title %}{{ page.url | prepend: site.url }} {% else %} {{ site.url }} {% endif %}">


    <meta property="og:title" content="Listen to {% if page.title %}Episode: {{ page.title }} of the {% endif %} Steercast now!">
    <meta property="og:site_name" content="Steercast">
    <meta property="og:url" content="{% if page.title %}{{ page.url | prepend: site.url }} {% else %} {{ site.url }} {% endif %}">
    <meta property="og:image" content="{{ site.url }}/images/logo-for-og.png">
    <meta property="og:type" content="article">
    <meta property="article:publisher" content="https://www.facebook.com/teamsteer">

    {% if page.title %}
    <meta property="og:description" content="{{ page.summary}}">
    {% endif %}


    <link rel="stylesheet" href="/css/main.css">
</head>
