<header>
  <div class="container">
    <h1 class="logo">
      <a href="/">
        <img src="{{ site.baseurl }}/images/shed-logo.png" alt="shed logo">
        <span class="logo-typeface--highlight-first">Steer</span><span class="logo-typeface--highlight-second">cast</span>
      </a>
    </h1>

    <nav>
      <a href="https://twitter.com/teamsteer" class="icon icon--twitter"></a>
      <a href="{{ site.baseurl }}/feed.xml" class="icon icon--rss"></a>
      <a href="#" class="icon icon--itunes"></a>
    </nav>
  </div>
</header>