@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

.container {
  @include outer-container;
}

.hero {
  margin-top: 150px;
  padding: 70px 150px;
  border: 5px solid;
  border-top-color: #2F6B93;
  border-left-color: #2F6B93;
  border-bottom-color: #FFA1A1;
  border-right-color: #FFA1A1;

  a {
    color: #ff341a;
    border-bottom: solid 3px #ff341a;

    &:hover {
      color: #FFA1A1;
      border-bottom: solid 3px #FFA1A1;
    }
  }
}

.click-to-scroll {
  text-align: center;
  padding: 60px 0;
  a {
    display: inline-block;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
    color: #2F6B93;
    background: url(../images/arrow.png) no-repeat center bottom;
    background-size: 50px;
  }
}

.latest-epsiode, .full-episode {
  background-color: #F6F9FB;
  padding: 40px 0;
}

.episode__latest-notice, .episode__tweet-quote {
  @include span-columns(4);
}

.episode__player, .episode__shownotes {
  @include span-columns(8);
}

.previous-episode {
  @include shift(4);
  margin-top: 40px;
}

.full-episode {
  margin-top: 100px;
}

.episode__player--orphan {
  @include shift(4);
}

.episode__latest-notice, .episode__player {
  margin-bottom: 40px;
}

.episode__tweet-quote {
  a {
    margin: 18px 0;
  }
}


