header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  &.active {
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
  }
}

h1 {
  float: left;
  line-height: 100px;

  a {
    display: block;
    &:hover img {
      @include animation(bounce 1s both);
      @include transform-origin(center bottom);
    }
  }

  img {
    vertical-align: middle;
    max-width: 50px;
    margin-right: 10px;
  }
}

nav {
  float: right;
  line-height: 100px;
  a {
    margin: 0 10px;
  }
}

@include keyframes(bounce) {
  0%, 20%, 53%, 80%, 100% {
    @include transition-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000));
    @include transform(translate3d(0,0,0));
  }

  40%, 43% {
    @include transition-timing-function(cubic-bezier(0.755, 0.050, 0.855, 0.060));
    @include transform(translate3d(0, -20px, 0));
  }

  70% {
    @include transition-timing-function(cubic-bezier(0.755, 0.050, 0.855, 0.060));
    @include transform(translate3d(0, -10px, 0));
  }

  90% {
    @include transform(translate3d(0,-4px,0));
  }
}

