.icon {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-size: 25px;

  &.icon--twitter {
    background-image: url(../images/twitter.png);
    &:hover {
      background-image: url(../images/twitter-hover.png);
    }
  }
  &.icon--rss {
    background-image: url(../images/rss.png);
    &:hover {
      background-image: url(../images/rss-hover.png);
    }
  }
  &.icon--itunes {
    background-image: url(../images/itunes.png);
    &:hover {
      background-image: url(../images/itunes-hover.png);
    }
  }
}