@include media($desktop) {
  .container {
    margin: 0 10px;
  }
}

@include media($tablet) {
  header {
    position: relative;
  }

  .hero, .current-episode {
    margin-top: 0;
  }

  .hero {
    padding: 40px;
  }

  .episode__latest-notice, .episode__tweet-quote, .episode__player, .episode__shownotes {
    @include span-columns(12);
  }

  .episode__player--orphan, .previous-episode {
    @include shift(0);
  }

  blockquote {
    padding-top: 30px;
    font-size: 20px;
  }

  .episode__tweet-quote a {
    margin-top: 10px;
  }

  .episode__latest-notice {
    margin-bottom: 0;
  }
}