$base-font-family: 'Karla', sans-serif;

$spacing-unit:     30px;

$text-color:       #333232;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$max-width:        960px;
$desktop: new-breakpoint(max-width 980px);
$tablet: new-breakpoint(max-width 720px);